name: samples

on:
  schedule:
    - cron:  '20 6 5,20 * *' # biweekly at 06:20 AM UTC+00 (on the 5th and 20th of the month)
  workflow_dispatch: # manual trigger

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  samples:
    runs-on: ubuntu-24.04
    if: ${{ github.event_name == 'schedule' && github.repository == 'pyMBE-dev/pyMBE' || github.event_name != 'schedule' }}
    env:
      FI_PROVIDER: "^psm3,psm3;ofi_rxd"
      OMPI_MCA_mtl_ofi_provider_exclude: psm3
    strategy:
      matrix:
        espresso:
          - version: "4.2.2"
            eessi: ESPResSo/4.2.2-foss-2023a
          - version: "5.0-dev"
            eessi: ESPResSo/8aa60cecd56cdd10ab62042c567552f347374f36-foss-2023b
    name: ubuntu - ESPResSo ${{ matrix.espresso.version }}
    steps:
      - name: Setup EESSI
        uses: eessi/github-action-eessi@v3
        with:
          eessi_stack_version: "2023.06"
      - name: Checkout repository
        uses: actions/checkout@main
      - name: Install dependencies
        uses: ./.github/actions/dependencies
        with:
          modules: |-
            ${{ matrix.espresso.eessi }}
      - name: Run testsuite
        run: |
          module restore pymbe
          source venv/bin/activate
          make functional_tests -j $(nproc)
        shell: bash
