name: run tests

on:
  push:
  pull_request:

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    env:
      FI_PROVIDER: "^psm3,psm3;ofi_rxd"
      OMPI_MCA_mtl_ofi_provider_exclude: psm3
    steps:
      - name: Setup EESSI
        uses: eessi/github-action-eessi@v3
        with:
          eessi_stack_version: "2023.06"
      - name: Checkout repository
        uses: actions/checkout@main
      - name: Install dependencies
        run: |
          module load ESPResSo/4.2.1-foss-2023a
          python3 -m venv --system-site-packages pymbe
          source pymbe/bin/activate
          python3 maintainer/configure_venv.py
          python3 -m pip install -r requirements.txt
          python3 -m pip install "pdoc==14.3"
          deactivate
      - name: Run testsuite
        run: |
          module load ESPResSo/4.2.1-foss-2023a
          source pymbe/bin/activate
          make tests
          make docs
          deactivate
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: "./documentation"
          name: documentation
          retention-days: 2
          if-no-files-found: error
